
/* CSS variables are defined by adding two dashes -- */
/* Need to use var(--primary-color) */
:root {
	--primary-color: #0e6097;
	--secondary-color: #329cff;
	--dark-grey: rgba(0, 0, 0, 0.2);
	--main-text-color: #353535;
}

body {
	background-color: #fff7e8;
	color: var(--main-text-color);
	font-family: 'Roboto', 'Lato', sans-serif;
	font-weight: 100;
	font-size: 16px;
	line-height: 1.2;
	text-decoration: none;
	width: 100%;

}

h1 {
	font-size: 30px;
	font-weight: 300;
	margin: 20px;
	color: var(--main-text-color);
}

a {
	color: var(--primary-color);
	text-decoration: none;
	transition: 0.2s opacity ease;
}

a:visited {
	/* visited link */
	color: var(--primary-color);
}

a:hover, a:focus {
	/* focus is for keyboard users vs hover is for cursors */
	text-decoration: none;
}

a:active {
	/* selected link */
	color: var(--secondary-color);
}

/* --- PAGE HEADER --- */

header {
	border-bottom: 1px solid var(--dark-grey);
	width: 100%;
}

.page-header {
	display: flex;
	width: 100%;
	padding: 15px;
}

.page-header__item {
	flex: 0 1 200px;
}

.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list__item:hover, .navigation-list__item:focus {
	opacity: 0.7;
}

.navigation-list__item--active {
	font-weight: 700;
	text-decoration: underline;
}

.navigation-list li{
	list-style-type: none;
	display: inline-block;
	margin-left: 15px;
}


/* ----- */

/* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; */

button, .button {
	border: none;
	display: inline-block;
	font-family: inherit;
	/* takes the front from the outer container */
	font-size: 14px;
	background-color: var(--primary-color);
	color: #fff;
	text-decoration: none;
	padding: 8px;
	border-radius: 15px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
	cursor: pointer;
	opacity: 0.8;
}

.contact-info__item:hover {
	opacity: 0.7;
}

.code-link:hover {
	opacity: 0.7;
}

/* --- ABOUT ME - EXPERIENCE TABLE --- */

thead {
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

tbody {
	text-align: center;
}

.skills-list__item {
	font-style: italic;
	font-weight: bold;
}

/* ------ */

* {
	box-sizing: border-box;
}


/* --- SOCIAL MEDIA FOOTER --- */

.fa-github {
	color: #000000;
	font-size: 30px;
}

.fa-linkedin {
	color: #0077b5;
	font-size: 30px;
}

.fa-twitter-square {
	color: #00acee;
	font-size: 30px;
}

.fa-linkedin:hover, .fa-linkedin:focus, .fa-twitter-square:hover, .fa-twitter-square:focus, .fa-github:hover, .fa-github:focus {
	border-bottom: 2px solid var(--dark-grey);
}

.page-footer {
	clear: both;
	text-align: center;
	padding: 50px;
	display: flex;
	flex-direction: column;
}

/* ------ */


/* HOME PAGE */

.profile__portrait {
	float: left;
	margin-right: 40px;
	width: 250px;
	border-radius: 50%;
}

.profile {
	max-width: 900px;
	margin: 0 auto;
	padding: 50px 20px 20px 20px;
}


/* CONTACT PAGE */

.main-contact-page {
	text-align: center;
}

.contact-page {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 25px;
	width: 700px;
}

.contact-page__item {
	margin: 0 auto;
	flex: 50%
}

.contact-info-item {
	display: flex;
	flex-direction: column;
}

input, label {
	padding: 8px;
}

textarea {
	margin-top: 8px;
	margin-left: 20px;
	width: 200px;
}

Address {
	flex: 50%;
}

/* ------- */

/* --- WORK PAGE --- */

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	margin: 20px;
}

.grid__item {
	background-color: #fff;
	padding: 20px;
	border: 1px solid var(--dark-grey);
}

@media all and (max-width: 496px) {
	.grid {
		grid-template-columns: 1fr;
	}

	h1 {
		text-align: center;
	}

	.profile__portrait {
		float: none;
		max-width: 250px;
		margin: 0 auto;
	}

	.profile {
		text-align: center;
		min-width: 388px;
	}

}

@media all and (min-width: 496px) and (max-width: 750px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px) {
	.grid {
		grid-gap: 10px;
	}

	.grid__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}

	h1 {
		font-size: 26px;
	}

	.contact-form-item {
		flex-direction: column;
		flex-wrap: wrap;
	}

	.contact-page {
		min-width: 394px;
		width: auto;
		flex-direction: column;
		text-align: center;
	}

	.page-header {
		flex-direction: column;
		align-items: center;
		height: 160px;
	}

	ul {
		padding: 0px;
	}

}

/* ----- */

/* ABOUT ME PAGE */

.main-about-me {
	text-align: center;
}

.about-me__item {
	text-align: center;
	margin: 0 auto;
}

.cv_button {
	text-align: center;
	margin: 50px;
}

.about-me_svg {
	width: 100%;
}

/* ---- ABOUT ME PAGE - ANIMATION ---- */


svg {
	width: 100%;
	padding: 50px;
}

@keyframes cloud-move {
	from {
		transform: translate(0px, 50px);
	}
	to {
		transform: translate(200px, 50px);
	}
}

.black-cloud {
	animation: 22s cloud-move infinite alternate linear;
}

@keyframes second-cloud-move {
	from {
		transform: translate(0px, 30px);
	}
	to {
		transform: translate(300px, 30px);
	}
}

.cloud-back {
	animation: 18s second-cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
	from {
		transform: translate(250px, 48px);
	}
	to {
		transform: translate(0px, 48px);
	}
}

.cloud-front {
	animation: 25s cloud-move-reverse infinite alternate linear;
}

@keyframes second-cloud-move-reverse {
	from {
		transform: translate(0px, 5px);
	}
	to {
		transform: translate(-200px, 5px);
	}
}

.second-cloud-front {
	animation: 30s second-cloud-move-reverse infinite alternate linear;
}
